
h2 {
    font-size: 20px;
}

/* Дні тижня назва */
div h2:nth-child(1) {
    color: red;
}

div h2:nth-child(3) {
    color: orange;
}

div h2:nth-child(5) {
    color: yellow;
}
div h2:nth-child(7) {
    color: green;
}

div h2:nth-child(9) {
    color: blue;
}

div h2:nth-child(11) {
    color: purple;
}

/* Псевдокласи стану */

div h2:nth-child(1):hover {
    color: purple;
    background-color: red;
}

div h2:nth-child(3):hover {
    color: blue;
    background-color: orange;
}

div h2:nth-child(5):hover {
    color: green;
    background-color: yellow;
}
div h2:nth-child(7):hover {
    color: yellow;
    background-color: green;
}

div h2:nth-child(9):hover {
    color: orange;
    background-color: blue;
}

div h2:nth-child(11):hover {
    color: red;
    background-color: purple;
}

/* Списки уроків */

ol:nth-child(2):hover{
    background-color: aqua;
}

ol:nth-child(4):hover{
    background-color: blue;
}

ol:nth-child(6):hover{
    background-color: green;
}

ol:nth-child(8):hover{
    background-color: rebeccapurple;
}

ol:nth-child(10):hover{
    background-color: yellow;
}

ol:nth-child(12):hover{
    background-color: purple;
}

/* День перший */





ol:nth-child(2) li:nth-child(1) {
    color: red;
}

ol:nth-child(2) li:nth-child(2) {
    color: orange;
}

ol:nth-child(2) li:nth-child(3) {
    color: yellow;
}

ol:nth-child(2) li:nth-child(4) {
    color: green;
}

ol:nth-child(2) li:nth-child(5) {
    color: blue;
}

ol:nth-child(2) li:nth-child(6) {
    color: purple;
}



ol:nth-child(2) li:nth-child(1):hover {
    color: azure;
}

ol:nth-child(2) li:nth-child(2):hover {
    color: firebrick;
}

ol:nth-child(2) li:nth-child(3):hover {
    color: green;
}

ol:nth-child(2) li:nth-child(4):hover {
    color: yellow;
}

ol:nth-child(2) li:nth-child(5):hover {
    color: rebeccapurple;
}

ol:nth-child(2) li:nth-child(6):hover {
    color: peru;
}

/* День другий */

ol:nth-child(4) li:nth-child(1) {
    color: firebrick;
}

ol:nth-child(4) li:nth-child(2) {
    color: gray;
}

ol:nth-child(4) li:nth-child(3) {
    color: olive;
}

ol:nth-child(4) li:nth-child(4) {
    color: aquamarine;
}

ol:nth-child(4) li:nth-child(5) {
    color: yellowgreen;
}



ol:nth-child(4) li:nth-child(1):hover {
    color: slategrey;
}

ol:nth-child(4) li:nth-child(2):hover {
    color: snow;
}

ol:nth-child(4) li:nth-child(3):hover {
    color: tomato;
}

ol:nth-child(4) li:nth-child(4):hover {
    color: hotpink;
}

ol:nth-child(4) li:nth-child(5):hover {
    color: powderblue;
}

/* День третій */

ol:nth-child(6) li:nth-child(1) {
    color: rgb(4, 74, 102);
}

ol:nth-child(6) li:nth-child(2) {
    color: rgb(31, 16, 168);
}

ol:nth-child(6) li:nth-child(3) {
    color: rgb(202, 202, 13);
}

ol:nth-child(6) li:nth-child(4) {
    color: rgb(10, 189, 91);
}

ol:nth-child(6) li:nth-child(5) {
    color: rgb(150, 223, 4);
}

ol:nth-child(6) li:nth-child(6) {
    color: rgb(170, 6, 15);
}

ol:nth-child(6) li:nth-child(7) {
    color: rgb(207, 154, 6);
}




ol:nth-child(6) li:nth-child(1):hover {
    color: rgb(196, 107, 23);
}

ol:nth-child(6) li:nth-child(2):hover {
    color: rgb(83, 22, 85);
}

ol:nth-child(6) li:nth-child(3):hover {
    color: rgb(10, 110, 18);
}

ol:nth-child(6) li:nth-child(4):hover {
    color: rgb(223, 255, 105);
}

ol:nth-child(6) li:nth-child(5):hover {
    color: rgb(83, 151, 5);
}

ol:nth-child(6) li:nth-child(6):hover {
    color: rgb(8, 133, 70);
}

ol:nth-child(6) li:nth-child(7):hover {
    color: rgb(63, 105, 7);
}

/* День четвертий */

ol:nth-child(8) li:nth-child(1) {
    color: rgb(107, 158, 12);
}

ol:nth-child(8) li:nth-child(2) {
    color: rgb(65, 17, 17);
}

ol:nth-child(8) li:nth-child(3) {
    color: rgb(9, 5, 59);
}

ol:nth-child(8) li:nth-child(4) {
    color: rgb(54, 54, 8);
}

ol:nth-child(8) li:nth-child(5) {
    color: rgb(33, 43, 13);
}

ol:nth-child(8) li:nth-child(6) {
    color: rgb(4, 48, 22);
}


ol:nth-child(8) li:nth-child(7) {
    color: rgb(54, 47, 4);
}





ol:nth-child(8) li:nth-child(1):hover {
    color: rgb(93, 148, 97);
}

ol:nth-child(8) li:nth-child(2):hover {
    color: rgba(70, 153, 59, 0.404);
}

ol:nth-child(8) li:nth-child(3):hover {
    color: rgb(163, 10, 163);
}

ol:nth-child(8) li:nth-child(4):hover {
    color: rgb(15, 108, 184);
}

ol:nth-child(8) li:nth-child(5):hover {
    color: rgb(200, 202, 65);
}

ol:nth-child(8) li:nth-child(6):hover {
    color: rgb(130, 163, 9);
}

ol:nth-child(8) li:nth-child(7):hover {
    color: rgb(165, 71, 16);
}

/* День п'ятий */

ol:nth-child(10) li:nth-child(1) {
    color: rgb(67, 120, 141);
}

ol:nth-child(10) li:nth-child(2) {
    color: rgb(9, 115, 119);
}

ol:nth-child(10) li:nth-child(3) {
    color: rgb(172, 4, 60);
}

ol:nth-child(10) li:nth-child(4) {
    color: rgb(24, 90, 4);
}

ol:nth-child(10) li:nth-child(5) {
    color: rgb(37, 49, 13);
}

ol:nth-child(10) li:nth-child(6) {
    color: rgb(138, 30, 165);
}




ol:nth-child(10) li:nth-child(1):hover {
    color: rgb(22, 182, 168);
}

ol:nth-child(10) li:nth-child(2):hover {
    color: rgb(82, 45, 45);
}

ol:nth-child(10) li:nth-child(3):hover {
    color: rgb(52, 85, 57);
}

ol:nth-child(10) li:nth-child(4):hover {
    color: rgb(53, 37, 45);
}

ol:nth-child(10) li:nth-child(5):hover {
    color: rgb(255, 42, 43);
}

ol:nth-child(10) li:nth-child(6):hover {
    color: rgb(22, 54, 37);
}


/* День шостий */

ol:nth-child(12) li:nth-child(1) {
    color: rgb(211, 128, 128);
}

ol:nth-child(12) li:nth-child(2) {
    color: rgb(65, 87, 64);
}

ol:nth-child(12) li:nth-child(3) {
    color: rgb(155, 155, 102);
}

ol:nth-child(12) li:nth-child(4) {
    color: rgb(100, 46, 68);
}

ol:nth-child(12) li:nth-child(5) {
    color: rgb(89, 180, 142);
}



ol:nth-child(12) li:nth-child(1):hover {
    color: rgb(88, 134, 107);
}

ol:nth-child(12) li:nth-child(2):hover {
    color: rgb(114, 192, 153);
}

ol:nth-child(12) li:nth-child(3):hover {
    color: rgb(201, 39, 10);
}

ol:nth-child(12) li:nth-child(4):hover {
    color: rgb(128, 38, 212);
}

ol:nth-child(12) li:nth-child(5):hover {
    color: rgb(145, 27, 82);
}